
.metadata/.lock

.metadata/.log

.metadata

Stock_Ticker/.classpath

Stock_Ticker/.project

Stock_Ticker/.settings/org.eclipse.jdt.core.prefs

*.class

Ticker/.settings/org.eclipse.jdt.core.prefs

Ticker/.project

Ticker/.classpath

.DS_Store
